* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 799px) {
  .laptop-view {
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-school-elements-blackboard-style_23-2147777607.jpg?w=740&t=st=1710436815~exp=1710437415~hmac=df81b54fe47447d4baa405994f3cc8f1774a0ea0112a7b09988aa7d71ecca4b2');
    height: 100vh;
    background-size: cover;
  }
  .aligning-first-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 180px;
    padding-top: 100px;
    width: 30%;
  }
  .Mobishaala-heading {
    color: aliceblue;
    font-family: 'Roboto';
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
  }
  .content {
    color: #ffffff;
  }
  .special-color {
    color: yellow;
  }
  .list-of-items {
    color: azure;
  }
  .Institute-teacher-heading {
    color: #ffffff;
  }
  .Get-started-button {
    background-color: red;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
  }
  .download-app-button {
    background-color: red;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
  }
  .talk-to-us-button {
    background-color: chartreuse;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
  }
  .whatsapp-icon {
    height: 22px;
  }
  .dividing-two-parts {
    display: flex;
    justify-content: space-evenly;
  }
  .React-player-margin-top {
    margin-top: 70px;
  }
  .buy-button {
    background-color: red;
    height: 30px;
    width: 70px;
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
  }
  .mobile-view {
    display: none;
  }
}

@media (max-width: 798px) {
  .laptop-view {
    display: none;
  }
  .viewing {
    display: block;
  }
  .mobile-view {
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-school-elements-blackboard-style_23-2147777607.jpg?w=740&t=st=1710436815~exp=1710437415~hmac=df81b54fe47447d4baa405994f3cc8f1774a0ea0112a7b09988aa7d71ecca4b2');
    height: 80vh;
  }
  .content {
    color: #ffffff;
  }
  .special-color {
    color: yellow;
  }
  .react-player-aligning {
    padding: 20px;
    border-radius: 100px;
    padding-left: 20px;
  }
  .buy-button {
    background-color: red;
    height: 30px;
    width: 70px;
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
  }
  .Institute-teacher-heading {
    color: #ffffff;
    margin-left: 93px;
  }
  .student-heading {
    color: #ffffff;
    margin-left: 130px;
  }
  .Get-started-button {
    background-color: red;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
    margin-left: 118px;
  }
  .download-app-button {
    background-color: red;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 93px;
    color: #ffffff;
  }
  .talk-to-us-button {
    background-color: chartreuse;
    width: 150px;
    height: 32px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 90px;
  }
  .whatsapp-icon {
    height: 22px;
  }
  .bottom-background-color {
    background-color: red;
    height: 80vh;
    padding-left: 10px;
  }
  .Mobishaala-heading {
    color: aliceblue;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
  }
  .vision-color {
    color: #ffffff;
  }
  .font-weight {
    font-weight: bold;
  }
}
